# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Git
*.orig